@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2|Comic+Neue&display=swap');

body{
  overflow: hidden;
}
body,p{
  padding: 0;
  margin:0;
}
/* height is not responsive yet- TO FIX, if we use height:100% then sweetalert won't work */
.container{
  display: flex;
  background-color:  #D4DBCD;
  padding: 0;
  height: 740px;
  font-family: 'Baloo Thambi 2', cursive;
}

.sidebar{
  text-align: center;
  box-sizing: border-box;
  width: 17%;
  min-width: 150px;
  background-color: #DB5461;
  color:white;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  padding:5px 5px 0 5px;
  font-family: 'Comic Neue', cursive;
}
.sidebar img{
  width: 32px;
}
.sidebar_active{
  background-color: rgb(148, 54, 64);
}
.sidebar div:hover{
  cursor: pointer;
}
/*  later select the item on click, currently manuallly setting background color to dark*/
.sidebar div{
  padding: 2px;
  
  margin-top: 5px;
}
/*forms */
.form{
  width: 80%;
  display: block;
  margin:0 auto;
}

/* main */
.main{
  padding: 10px;
  width: 100%;
  min-width: 711px;
  text-align: center;
}
.info{
  margin:50px 10px;
  display: flex;
  width: 100%;

}
.info div{
width:400px;
  padding: 5px;
  text-align: center;
}




/* info panel */
.info-panel{
visibility: hidden;
}
.info-panel img{
  width:32px; 
}
.info-panel-active{
  visibility: visible;;
}